/* General Styling*/

body {
  font-family: "Montserrat", sans-serif; /* !important */
}

a {
  color: rgb(14, 124, 235);
}
img {
  max-width: 100%;
  vertical-align: initial !important;
}
.white {
  color: #fff;
}
.black {
  color: #1d1d1f;
}
.grey {
  color: #86868b;
}
.top-50 {
  margin-top: 50px;
}
/* Header Style */
.nav-wrapper {
  background: rgba(0, 0, 0, 0.8);
  font-size: 0.85em;
  font-weight: 200;
}
.nav-wrapper ul li a {
  color: #fff;
}
.navbar-toggler {
  color: #fff;
}

.nav-item {
  text-align: left !important;
  padding: 4px 0;
  border-bottom: 1px solid #4b4b4b;
}
.apple-logo {
  margin-right: 15px !important;
}
.fixed-top {
  position: sticky;
}
/*covid-link*/

/* .covid-link {
  padding: 10px;
  text-align: center;
} */
.p {
  padding: 10px;
}
.covid-link a {
  color: #fff;
  padding: 20px;
}
.covid-link a::after {
  font-family: "FontAwesome";
  padding-left: 10px;
  content: "\f105";
}
.a {
  background-color: #007bff;
}

/*shope-link*/

.shop-link {
  background-color: #f7f7f7;
  padding: 10px;
  text-align: center;
}

.link-wrapper ul li a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f105";
  padding-left: 10px;
}
.link-wrapper ul li a {
  color: #06c;
  text-decoration: none;
  font-size: 21px;
}

.link-wrapper li {
  list-style: none;
  display: inline-block;
  margin: 10px;
  font-weight: 600;
}
.link-wrapper {
  padding: 15px 0;
  text-decoration: none;
}
/*iphone 12 style*/

.iphone-12-wrapper {
  background-image: url("../images/home/iphone_12_us__fo0stbby242m_small_2x.jpg");
  background-position: center;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-color: #fbfbfd;
  padding: 40px 20px 60px;
}
span {
  display: block;
}
body {
  text-align: center;
}
.spanPadding {
  padding-bottom: 10px;
}

.tittle-wrapper {
  color: #86868b;
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 600;
  letter-spacing: -0.01em;
  /* padding-top: 310px; */
}
.title-wraper.bold {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.15em;
  letter-spacing: -0.04em;
}

.tittle-iphone-12 {
  font-family: "monospace" sans-serif;
  font-weight: 700;
  font-size: 2rem;
}
.Blast {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 20px;
}
.template {
  display: none;
}

/* iphone-pro style*/

.iphone-pro-wrapper {
  background-image: url(../images/home/iphone_12_pro_us__e5oyysg4k0ya_small_2x.jpg);
  background-position: center;
  height: 580px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 65px 20px;
  color: #fff;
}
.tittle-iphone-pro {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.33337;
}

/* apple card style*/

.apple-card-wrapper {
  text-align: center;
}

.apple-card-image-2 {
  display: none;
}

.apple-card {
  padding-top: 30px;
}

/* ipad air style*/

.ipad-air-image-2 {
  display: none;
}
.ipad-air-image-1 {
  background-color: black;
}

/*apple watch style*/
.apple-watch-wrapper {
  background-image: url("../images/home/promo_watch_series_6_lte__f8lrasjnry2y_medium_2x.jpg");
  background-color: black;
  height: 580px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 65px 20px;
  margin-bottom: 10px;
  text-align: center;
  color: #fff;
}
.logo-wrapper {
  font-size: 17px;
  font-weight: 700;
}
/* girl&macbook style*/

.air-girl-wrapper .left-side-wrapper .left-side-container {
  background-image: url("../images/home/promo_ipad_pro_non_avail__c6f02v7gnwgi_medium_2x.jpg");
  background-position: center;
  background-color: black;
  padding-top: 35px;
  margin: 0 0 10px 0;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  height: 515px;
}

.air-girl-wrapper .right-side-wrapper .right-side-container {
  background-image: url("../images/home/hero__dvsxv8smkkgi_small_2x\ \(1\).jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 580px;
  padding-top: 35px;
  margin: 0 0 10px 0;
  background-size: cover;
  height: 515px;
}

.air-tittle {
  display: none;
}

.tittle {
  /* background-color: black; */
  margin-top: 10px;
  padding: 40px 20px;
}
.left-side-wrapper {
  padding-right: 0px;
  padding-left: 0px;
}

.right-side-wrapper {
  padding-right: 0px;
  padding-left: 0px;
}
.right-side-wrapper .title-wraper {
  max-width: 280px;
  margin: 0 auto;
}

.brief-description {
  font-size: 2em;
}
.description-wraper.white {
  color: white;
}

.description-wrapper {
  font-size: 26px;
  padding: 10px 0;
}

/*apple-fitness style*/

.macrobook-and-fitness .left-side-wrapper .left-side-container {
  background-image: url("../images/home/macbook_air__knzp0i282eyy_small_2x.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 35px;
  margin: 0 0 10px 0;
  height: 515px;
}

.macrobook-and-fitness .right-side-wrapper .right-side-container {
  background-image: url("../images/home/tile__cauwwcyyn9hy_small_2x\ \(2\).jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 35px;
  margin: 0 0 10px 0;
  background-size: contain;
  height: 515px;
}

/* apple- one style*/

.apple-one-tv-wrapper .left-side-wrapper .left-side-container {
  background-image: url("../images/home/promo_bts__bg3cb4kaoqoi_medium_2x.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 35px;
  margin: 0 0 10px 0;
  background-repeat: no-repeat;
  height: 520px;
  background-color: #bfe2e8;
  font-weight: 900;
}

/* apple tv style*/

.apple-one-tv-wrapper .right-side-wrapper .right-side-container {
  background-image: url("../images/home/tile_racial_equity__pi2fnk64hx6y_medium_2x.jpg");
  background-position: bottom;
  padding-top: 35px;
  margin: 0 0 10px 0;
  background-size: cover;
  background-repeat: no-repeat;
  height: 520px;
}

.footer-links-wrapper {
  text-align: left;
}

/*Media Query*/
/* Footer */
@media (max-width: 768px) {
  .footer-links-wrapper ul {
    display: none;
  }
  .footer-links-wrapper h3 {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  .footer-links-wrapper h3:after {
    font-family: "FontAwesome";
    content: "\f067";
    padding-left: 10px;
    position: absolute;
    right: 25px;
  }
}
.footer-links-wrapper .iconRotator::after {
  content: "\f00d";
}
@media (min-width: 768px) {
  /*Nav bar*/
  .nav-item {
    text-align: center !important;
    padding: 0;
    border-bottom: 0px;
  }
  /*iphone 12 style*/
  .iphone-12-wrapper {
    background-image: url("../images/home/hero__dvsxv8smkkgi_small_2x.jpg");
    min-height: 692px;
  }

  /* iphone-pro */
  .iphone-pro-wrapper {
    background-image: url("../images/home/iphone_12_pro_us__e5oyysg4k0ya_medium_2x.jpg");
  }
  /* apple-card*/
  .apple-card-image-1 {
    display: block;
  }

  .apple-card {
    padding-top: 30px;
  }
  /* ipad air */

  .air-girl-wrapper .right-side-wrapper .right-side-container {
    background-image: url("../images/home/hero_static__0ypiwymczpu6_medium_2x.jpg");
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: contain;
  }

  .ipad-discrption {
    /* padding: 0 0 410px; */
    font-size: 17px;
  }

  .air-tittle {
    display: block;
  }
  .air-tittle {
    color: #1d1d1f;
    font-size: 30px;
    font-weight: 600;
  }
}
/* .ipad-air-wrapper {
  padding: 65px 20px;
} */
.ipad-til {
  font-weight: 600;
  font-size: 50px;
  line-height: 1.33337;
}
.left-side-wrapper {
  padding-right: 0px;
  padding-left: 0px;
}

.right-side-wrapper {
  padding-right: 0px;
  padding-left: 0px;
}

@media (min-width: 992px) {
  /*Footer styling*/
  .copyright {
    margin-top: 10px;
  }
  .footer-country {
    margin-top: 10px;
  }
  .footer-links-terms {
    margin-top: 10px;
  }
  /* girl and macbook*/

  .air-girl-wrapper .left-side-wrapper .left-side-container {
    margin: 10px 0px 5px 10px;
  }
  .air-girl-wrapper .right-side-wrapper .right-side-container {
    margin: 10px 5px 5px 5px;
  }
  /* apple fitness wrapper*/

  .macrobook-and-fitness .left-side-wrapper .left-side-container {
    margin: 10px 5px 5px 10px;
  }
  .macrobook-and-fitness .right-side-wrapper .right-side-container {
    margin: 5px 10px 5px 5px;
  }
  /* apple-one tv*/
  .apple-one-tv-wrapper .left-side-wrapper .left-side-container {
    margin: 10px 5px 5px 10px;
  }

  .apple-one-tv-wrapper .right-side-wrapper .right-side-container {
    margin: 5px 10px 5px 5px;
  }
}

/* Footer Styling */
.footer-wrapper {
  background-color: #f5f5f7;
  color: #86868b;
  font-size: 0.7em;
}
.footer-wrapper ul {
  list-style: none;
  padding-bottom: 10px;
  padding-inline-start: 0px;
}
.footer-wrapper ul a {
  color: #515154;
}
.my-apple-wrapper {
  padding-bottom: 15px;
  margin-top: 10px;
}
.copyright {
  margin-top: 15px;
}
.footer-country {
  margin-top: 8px;
}
.flag-wrapper {
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
}
.footer-country-name {
  display: inline-block;
  vertical-align: middle;
}
.footer-links-terms ul {
  display: flex;
}
.footer-links-terms ul li {
  padding: 0 10px;
  border-right: 1px solid #d2d2d7;
}
.footer-links-terms ul li:first-child {
  padding-left: 0;
}
.footer-links-terms ul li:last-child {
  border-right: 0;
}

.footer-links-wrapper h3 {
  font-size: 12px;
  font-weight: 600;
  color: #1d1d1f;
}
.footer-wrapper ul li {
  padding: 4px 0;
}
.upper-text-container {
  border-bottom: 1px solid #d2d2d7;
  padding: 17px 0 10px;
  margin-bottom: 20px;
}
.upper-text-container a {
  color: #515154;
}
